<!DOCTYPE html>
<html>
<head>
  <title>Sumo Logic Task</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/584e2c53ae.js"></script>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>

<body ng-app="SumoLogicApp" ng-cloak>
  <header>
    <div class="col-sm-3 logo">
      SUMO LOGIC TASK
    </div>

  </header>
  <div class="container" ng-controller="HomeCtrl">
    <div class="row">
      <div class="col-sm-3 message">
        <button class="btn btn-success" ng-click="showEmail()" ng-if="!showDialog">Send Email</button>
      </div>
      <div class="col-sm-6 message" ng-show="!showDialog">
        <h2>{{message}}</h2>
      </div>
      <div class="col-sm-6 dialog" ng-show="showDialog">
      <i class="fa fa-times pull-right close" ng-click="closeEmail()" aria-hidden="true"></i>
        <h2>Select an Employee</h2>
        <input type="checkbox" id="send_email" checked="">
        <label for="send_email">Send welcome email to employee</label>
        <div>
          <label>Select a Team in the Organization</label>
          <br>
          <autocomplete items="items" prompt="Select Team..." title="team" model="team" on-select="onItemSelected()" />
        </div>
        <br>
        <div>
          <label>Select an Employee</label>
          <br>
          <autocomplete items="teamEmployeeArr" prompt="Select Employee..." title="name" subtitle="abbreviation" model="name" on-select="onEmployeeSelected()" />
        </div>
        <br>
        <div class="col-sm-offset-9">
          <button class="btn" ng-click="closeEmail()">Cancel</button>
          <button class="btn submit-btn" ng-click="sendEmail()">OK</button>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/angular.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/directives.js"></script>
  <script src="../js/services.js"></script>
  <script src="../js/controllers.js"></script>
</body>
</html>
