<div class="loader" ng-if="loading">
  <span>Loading</span>
</div>
<div class="search-form">
  <form class="form">
    <input placeholder="      Search a place in San Francisco" class="form-control map-input" g-places-autocomplete ng-model="place"/>
  </form>

    <div class="left-nav" ng-if="data">
      <div class="label-div">

      </div>
      <!-- <input ng-model="searchText" class="form-control" /> -->
      <ul>
        <li ng-click="truckDetails(place)" ng-repeat="place in data track by $index">
          <p>
            <h4>
              <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;&nbsp;{{place.applicant}}
            </h4>
          </p>
        </li>
      </ul>
    </div>

    <div class="left-nav" ng-if="msg">
      <div class="label-div">
      </div>
      <ul>
        <li>
          <p>
            <h4>
              {{msg}}
            </h4>
          </p>
        </li>
      </ul>
    </div>
</div>
<div class="left-nav truck-detail" ng-if="truck">

  <div ng-click="truckList()" class="back">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;&nbsp;
  </div>
  <div class="label-heading">
    <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;&nbsp;{{truck.applicant}}
  </div>
  <div class="place-details">
    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;</i><span>Addresss</span>: {{truck.address}}
  </div>
  <div class="place-details">
    <i class="fa fa-th" aria-hidden="true"></i>&nbsp;&nbsp;<span>Block</span>: {{truck.block}}
  </div>
  <div class="place-details">
    <i class="fa fa-stop" aria-hidden="true"></i>&nbsp;&nbsp;<span>Block Lot</span>: {{truck.blocklot}}
  </div>
  <div class="place-details">
    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;<span>Time</span>: {{truck.dayshours}}
  </div>
  <div class="place-details">
    <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;<span>Location Description</span>: {{truck.locationdescription}}
  </div>
  <!-- <div class="place-details">
    <span>Schedule</span>: {{truck.schedule}}
  </div> -->
</div>
<div class="row">
  <div class="angular-google-map-container col-sm-12">
    <ng-map zoom="15" center="[{{defaultLat}},{{defaultLong}}]" class="app-map">
      <!-- <marker position="[40.71, -74.21]" title="hello"></marker> -->
      <marker ng-repeat="pos in data" position="[{{pos.latitude}},{{pos.longitude}}]" ng-click="new(pos)"></marker>
    </ng-map>
  </div>
</div>
